// -----------------------------------------------------------------------------
// -- HEADER
// -----------------------------------------------------------------------------
.ghx-column-headers {
  h2 {
    text-transform: uppercase;
  }

  .ghx-qty {
    float: right;
  }

  & > .ghx-column {
    background: #F4F5F7;
    padding: 10px;
    border: none;
  }
}

// -----------------------------------------------------------------------------
// -- SWIMLANE
// -----------------------------------------------------------------------------
.ghx-swimlane {
  .ghx-columns > .ghx-column {
    background: #F4F5F7;
    padding: 10px;;
  }
}

#ghx-pool.ghx-band-3 {
  padding-top: 42px;
}

// -----------------------------------------------------------------------------
// -- ISSUE
// -----------------------------------------------------------------------------
.ghx-issue {
  margin-top: 0;
  margin-bottom: 10px;
}
