$primary-blue: #0052cc;
$blue: #0049b0;
$dark-blue: #172b4d;

$red: #ff5630;
$yellow: #ffab00;
$green: #36b37e;
$light-blue: #00b8d9;
$purple: #6554c0;

$white: #fff;
$light-gray: #f4f5f7;
$dark-gray: #8993a4;
$dark-gray-2: #42526e;
$black: #172b4d;

$focus-color: #4c9aff;
