.aui-lozenge {
  &.aui-lozenge-subtle {
    background-color: $white !important;
  }
  
  &.aui-lozenge-complete, &.jira-issue-status-lozenge-blue-gray {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }

  &.jira-issue-status-lozenge-blue {
    background-color: $blue;
    border-color: $blue;
  }

  &.aui-lozenge-current, &.jira-issue-status-lozenge-yellow {
    background-color: $yellow;
    border-color: $yellow;
  }

  &.aui-lozenge-success, &.jira-issue-status-lozenge-green {
    background-color: $green;
    border-color: $green;
  }

  &.aui-lozenge-moved &.jira-issue-status-lozenge-purple {
    background-color: $purple;
    border-color: $purple;
  }

  &.aui-lozenge-error, &.jira-issue-status-lozenge-red {
    background-color: $red;
    border-color: $red;
  }
}
