.aui-message {
  border: none !important;

  &.aui-message-warning {
    background-color: $yellow !important;
  }
}
.aui-message.warning:before, .aui-message-warning:before {
  background-color: $yellow !important;
}
