.aui-message {
  border: none !important;

  &:before {
    background-color: $blue;
  }

  &.warning, &.aui-message-warning {
    border-color: $yellow;

    &:before {
      background-color: $yellow;
    }
  }

  &.error, &.aui-message-error {
    border-color: $red;

    &:before {
      background-color: $red;
    }
  }

  &.hint, &.aui-message-hint, &.info, &.aui-message-info {
      border-color: $blue;

      &:before {
        background-color: $blue;
      }
  }

  &.success, &.aui-message-success {
    border-color: $green;

    &:before {
      background-color: $green;
    }
  }
}
